{% extends 'Shared/base.html' %}
{% load static %}
{% block content %}

<form action="/todo/add" method="POST">

    {% csrf_token %}
    <div class="'form-group">
        <label for="naam">Naam van de taak</label>
        <input class="form-control form-control-lg" id="naam" name="naam" placeholder="nieuwe taak">
    </div>
    <div class="form-group">
        <label for="datum">Deadline
        <input class="form-control form-control-lg" id="datum" type="date" name="datum">
    </div>   
    <input type="submit" value="Create">
</form>

{% endblock %}