{% extends 'Shared/base.html' %}
{% load static %}
{% block content %}

<h1>weet u zeker dat u {{ taak.taak}} wil verwijderen?</h1>
<form action="/todo/deleteConfirm" method="POST">
    {% csrf_token %}
    <input type="hidden" name="place" value="{{ taak.id }}">
    <input type="text" name="naam" placeholder="{{ taak.taak }}">
    <input type="submit" value="Ik wil het item verwijderen" class="btn btn-danger">
</form> 
<div class="btn-group">
    <a class="btn btn-primary" href="/todo">Terug</a>
</div>

{% endblock %}