{% extends 'Shared/base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <h1>dit is de pagina voor de todo list</h1>
        </div>
        <div><h2>U bent ingelogd als {{ username }}</h2></div> 
        <div class="row">
        <!--Hier is een GET toegepast-->
        <form action="/todo" method="GET" class="col-5">
            <input name="filter" type="hidden" value="{{ orderby }}">
            <input name="zoek" value="{{ zoek }}" placeholder="zoek">
            <input type="submit" value="zoek" class="btn btn-primary">
        </form>
        <a class="btn btn-primary" href="/todo/additem">Maak nieuw item aan</a> 
        </div>  
        <table>
            <thead>
                <th style="width:1rem"><a href="/todo?filter=id&zoek={{ zoek }}">plek</a></th>
                <th style="width:24rem"><a href="/todo?filter=taak&zoek={{ zoek }}">Taak</a></th>
                <th style="width:10rem;"><a href="/todo?filter=deadline&zoek={{ zoek }}">deadline</a></th>
                <th style="width:2rem;"><a href="/todo?filter=voltooid&zoek={{ zoek }}">status</a></th>
                <th style="width:1rem;"></th>
                <th style="width:1rem"></th>    
            </thead>
            {% for taak in taken %}
            <tbody class="todo_Item_row">
                <td>{{ taak.id }} </td>
                <td>{{ taak.taak }}</td>
                <td>{{ taak.deadline }} </td>   
                {% if taak.voltooid %}
                <td style="background-color:green">Klaar</td>   
                {% elif date < taak.deadline %}
                <td style="background-color:yellow">bezig</td>   
                {% elif date > taak.deadline  %}
                <td style="background-color:red;">Gefaald</td>   
                {% endif %}
                <td><a href="/todo/edit/{{ taak.id }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                </a></td>   
                <td><a href="/todo/delete/{{ taak.id}}"><i class="fa-solid fa-xmark"></i></a></td>   
            </tbody>
            {% endfor %}
        </table>
    {% endblock %}