{% extends 'Shared/base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <h1>dit is de pagina voor de todo list</h1>
        </div>
        <div class="" role="group">
        <form action="/todo/add" method="POST">

            {% csrf_token %}

            <input class="col-8" name="naam" placeholder="nieuwe taak">
            <input type="submit" value="Create">
        </form>

        </div>
        <table>
            <thead>
                <th style="width:5rem">positie</th>
                <th style="width:20rem">Taak</th>
                <th style="width:5rem;"></th>
                <th style="width:5rem"></th>    
            </thead>
            {% for taak in taken %}
            <tbody>
                <td> {{ taak.id }} </td>
                <td>{{ taak.taak }}</td>
                <td><a href="/todo/edit/{{ taak.id }}">Edit</a></td>   
                <td><a href="/todo/delete/{{ taak.id}}">Delete</a></td>   
            </tbody>
            {% endfor %}
        </table>
    {% endblock %}