.header{
    background-color: #F55A5A;
    color:white;

    display: grid;
    width: 100%;
}
.header-img{
    width: 75px;
    height: 75px;

    padding: 10px;
    margin:10px;
}
.header-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.deck{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 39px;
}
.card-img{
    margin: 19px;
    width: 250px;
    height: 336px;
    border-radius: 5px;
    object-fit: cover;
    
}
.card-image-box{
    width: auto;
    height: auto;
    float:left; 
}

.ItemEnzo{
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin:20px;
    display: inline;
}
.bericht{
    float:right;
}
.location{
    display: flex;
    align-items: center;
    margin-bottom: -2rem;
}
.location-googleMaps{
    color:darkgray;
}
.bericht-datum{
    font-weight: bold;
    font-style:oblique;
}
.bericht-content{
    margin-top: -3rem;
}