header{
  padding: 30px;
  background: black;
  color: white;
  font-size: 12px;
  align-items: baseline;
  width: 100%;
}
.header-item{
  width: 30%;
  margin:1rem;
  display:inline-flex;
  place-items: flex-end;
}
.right{
  float:right
}
.spotify_btn{
  padding:1rem;
  margin:5px; 
  background-color: #1DB954;
  border: 0px solid gray;
  color:white;
  border-radius: 23px;
  font-size: medium;
  font-family: 'Gotham';
}
.spotify_btn:hover{
  background-color: green;
}