th{
    border: solid black 4px;
}
td{
    border: solid black 2px;
}
header{
    border:solid black 3px;
}
.menu li{
    padding: 0.5rem;
    margin:0.5rem;
    list-style: none;
    border: solid black 1px;
    float: right;
    border-radius: 1rem;
}
.menu li:hover{
    background-color: grey;
    transition:1s background-color;
}
.todo_Item_row :hover{
    background-color:lightgrey;
    transition:1s background-color;
}
td{
    padding:2px;
    margin:1px;
}
table{
    margin-top:1rem;
}
.small_box{
    width: 1rem;
}