{% extends 'Shared/base.html' %}
{% load static %}
{% block content %}
<!--Dit mooier maken als jh bij je moetder bent-->
<h1>Dashboard<h1>
<div class>
    <div class="col-7 dashboard-column">
        <h2>Dowload overzicht pannen</h2> 
        <form>
            <div class="form-group">
                <label for="begin">Begin datum</label>
                <input id="begin" name="begin" type="datetime-local">
            </div>
            <div class="form-group">
                <label for="eind">Eind datum</label>
                <input id="eind" name="eind" type="datetime-local">
            </div>
            <input class="btn btn-primary" value="Download" type="submit">
        </form>
    </div>
</div>

{% endblock %}